.bottom-nav__links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.bottom-nav__link a {
  gap: 10px;
  display: flex;
  align-items: center;
}

/* main */

h1 {
  font-size: xx-large;
}

.user-name {
  font-size: 20px;
}

.profile-page-center {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-page-main {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  padding: 40px 0;
  max-width: 1240px;
  width: 100%;
}

.profile-left {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.profile-img img {
  border-radius: 50%;
  width: 300px;
  border: 1px solid grey;
}

.profile-left button {
  padding: 5px 0;
  margin: 15px 0;
  background-color: rgb(228, 227, 241);
  border-radius: 7px;
}

.achivements {
  padding: 20px 0;
  border-top: 1px solid rgb(204, 201, 201);
}

.achivement-logo img {
  width: 60px;
}

.joining {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.popular-repos-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-repos-title p {
  font-size: 18px;
  color: black;
}

.popular-repos-title span a {
  font-size: 14px;
  color: blue;
}

/* right grid */

.user-repos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.user-repo {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
}

.user-repo__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.user-repo__title a {
  color: blue;
  font-weight: bold;
}

.user-repo__title span {
  padding: 4px 8px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid grey;
  font-size: 14px;
}
